.filler {
    color: transparent;
}

.list {
    font-family: sans-serif;
}

#close {
    padding-left: 100px;
    font-size: 14pt;
    text-decoration: none;
}

#label {
    color: #928F8F;
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
}

#main {
    display: inline-block;
}
#search {
    font-size: 14pt;
    width: 300px;
    border: transparent;
}

#searchbox {
    padding-left: 300px;
    padding-bottom: 20px;
}

#tables {
    border-top: solid thin #928F8E;
}

td:first-child {
    color: white;
}

td:nth-child(4) {
    padding-left: 75px;
    padding-right: 75px;
}

td {
    padding: 8px;
    border-top: solid thin #eee;
}

text:focus,
input:focus {
    outline: none;
}

tr {
    line-height: 20px;
}

table>*:first-child:not(thead) td:nth-child(2) {
    font-weight: bold;
}

.box {
    display: block;
    padding: 8px;
}
